{{ attach_library('yelp_w_map/yelp_w_map') }}
{% if yelp_data.name %}
<div class="yelp_review">
<table border="0">
<tr>
<td>
<img src="{{ yelp_data.img_url }}" width="{{ yelp_format.pic_width }}">
</td>
<td>
<table border="0">
<tr>
<td>
<p>
<a href="{{ yelp_data.url }}" target="_blank" rel="noopener" class="shop_name">
{{ yelp_data.name }}
</a>
</p>
<span class="rating">{{ yelp_data.rating }} <img src="{{ yelp_data.img_rating }}"></span>
<br/>
Based on {{ yelp_data.review_count }} Reviews
<br/>
{{ yelp_data.display_address }}
<br/>
{{ yelp_data.display_phone }}
<br/>
</td>
<td>
<p class="yelp_logo">
<a href="{{ yelp_data.url }}" target="_blank" rel="noopener">
<img src="{{ yelp_logo }}" width="100">
</a>
</p>
</td>
</tr>
</table>
</tr>
{% for review in reviews %}
    <tr>
    <td>
    <a href="{{ review.profile_url }}" target="_blank" rel="noopener">
    <img src="{{ review.profile_img_url }}" width="{{ yelp_format.pic_width }}">
    </a>
    </td>
    <td>
    {{ review.text }}
    <a href="{{ review.url }}" target="_blank" rel="noopener"> Read more </a>
    <br/>
    <img src="{{ review.img_rating }}">
    <br/>
    {{ review.time_created }}
    <br/>
    <a href="{{ review.profile_url }}" target="_blank" rel="noopener">
    {{ review.user_name }}
    </a>
    </td>
    </tr>
{% endfor %}
</table>
{% if yelp_format.map_width > 0 and yelp_format.map_height > 0 and yelp_data.lat and yelp_data.lng %}
<iframe width="{{ yelp_format.map_width }}" height="{{ yelp_format.map_height }}" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key={{ yelp_format.gmap_apikey }}&amp;q={{ yelp_data.lat }},{{ yelp_data.lng }}" allowfullscreen></iframe>
{% endif %}
</div>
{% endif %}
